#root {
  color: rgb(0, 0, 0); 
}
.episode-count {
  color: red; 
}

.episodes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 15px;
  row-gap: 15px;
  margin: 20px 20px 20px 40px;
  width: 95%;
  box-sizing: border-box;
}

.episode-card {
  border: 2px solid #656262;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.episode-card img {
  width: 100%;
  display: block;
  margin: 10px 0;
  border-radius: 1px;
}

.episode-card a {
  display: inline-block;
  margin-top: 20px;
  color: #286942;
  text-decoration: underline;
  background-color: #e7f0ec;
  border-radius: 18px;

}


.episode-card h3 {
  border: 1px solid #7d7878;
  border-radius: 16px;
  padding: 8px;
  margin: 0 0 10px 0;
  background-color: #fffcfc;
  font-size: 20px;
}
.episode-description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  margin: 10px 0;
  text-align: center; 
}