#root {
  color: rgb(0, 0, 0); 
  padding-bottom: 40px;
}

.episodes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  column-gap: 25px;
  row-gap: 25px;
  box-sizing: border-box;
  width: 85%; 
  margin: auto;
  grid-auto-rows: 1fr; 
  margin-top: 10px;
}

.episode-card {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.episode-card img {
  width: 100%;
  display: block;
  margin: 10px 0;
  border-radius: 1px;
}

.episode-card a {
  display: inline-block;
  margin-top: auto;
  color: #286942;
  text-decoration: underline;
  background-color: #e7f0ec;
  border-radius: 18px;
  align-self: center;
  margin-bottom: 5px;
}

.episode-card h3 {
  border: none;
  background: #f4f7f5;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;

}
.episode-description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  margin: 10px 0;
  text-align: center; 
  padding: 15px;
}

.search_bar{
  font-size: large;
  display: flex;
  justify-content: flex-start; 
  padding: 10px 0;
  width: 85%; 
  gap: 10px;
  align-items: center;
  margin: 0 auto;
}
.search_bar input{
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  font-size: large;
  background-color: #e7fbee;
}
.search_bar select{
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  font-size: large;
  color: black; 
  background-color: #e7fbee;
}
.search_bar select:focus {
   color: black;
  background-color: white;
}
.search_bar input:focus {
  background-color: white;
  outline: none;
}
.episode-card, .show-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 21, 255, 0.08);
  border: none; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.episode-card:hover, .show-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 255, 187, 0.12);
}
.shows-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  width: 85%;
  margin: auto;
}
.show-card img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}
.show-header {
  width: 85%;
  margin: 20px auto;
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  font-size: 20px;
  font-weight: bold;
}
.shows-container,
.episodes-container {
  width: 85%;
  margin: auto;
}
.back-button {
  margin-left: auto;
  padding: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #e7fbee;
  position: fixed;
  z-index: 1000;
  top: auto;
}

.search_bar_label {
  background-color: #e7fbee;
  padding: 12px 18px;
  border-radius: 8px;
  display: inline-block;
  font-family:bold;
}